<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js" defer></script>

    <title>Clique en premier sur la cible</title>
  </head>
  <body>
    <h1>Cliquez la cible verte en premier. </h1>
    <div id="conteneur">
      <div>
        <div id="gagne"></div>
        <div id="score"></div>
        <div id="jeu">Connexion en cours</div>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>Nom</th>
            </tr>
          </thead>
          <tbody id="tableau-joueurs">

          </tbody>
        </table>
      </div>
    </div>
    </div>
  </body>
</html>